@import: "./colors.less";
//----------------------------------------------Nav-----------------------------------------------
.nav-div {
  width: 100%;
  margin-bottom: 35px;
  background-color: #1e3f6c;
}

.to-home {
  display: block;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 170px;
  color: @colorNavLogo;
  font-size: 30px;
  cursor: pointer;
}
.nav-btn {
  span {
    font-size: 14px;
  }
}
.nav-btn {
  width: 98%;
  color: #ffb935;
  font-weight: bold;
  margin: 10px auto 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #ffb935;
    color: #1e3f6c;
  }
}
.nav-border {
  outline: #ffb935 solid 1px;
}
/*----------------------------------------HOME-------------------------------------*/
.home-container {
  .titulo {
    .cidt {
      p {
        font-size: 5em;
        text-align: center;
        border: 5px solid;
        margin: 20px 30px;
        letter-spacing: 5px;
      }
      text-align: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      justify-content: center;
    }
    .congreso {
      text-align: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      margin: auto;
      font-weight: bold;

      p {
        color: @colorTextCongres;
        font-size: 4em;
      }
    }
  }
  .escuelas {
    p {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: @colorTextCongres;
      font-size: 4em;
      text-align: center;
      font-weight: bold;
    }
  }
  .contenido {
    p {
      font-size: 1.5em;
      color: white;
      text-align: center;
      margin: 10px 100px;
    }
  }
  .icono-mapa {
    text-align: end;
    img {
      margin: 25px 0px;
      width: 6em;
      height: 6em;
    }
  }
  .texto-mapa {
    text-align: left;
    h1 {
      padding: 0.5em;
      margin: 25px;
      font-size: 2em;
      font-weight: bold;
    }
  }
  .icono-calendario {
    text-align: end;
    img {
      margin: 25px 0px;
      width: 6em;
      height: 6em;
    }
  }
  .texto-calendario {
    text-align: justify;
    h1 {
      margin: 25px;
      font-size: 2em;
      text-align: justify;
      font-weight: bold;
    }
  }
  .fb {
    display: flex;
    justify-content: center;
    img {
      display: block;
      margin: auto;
      width: 4em;
      height: 4em;
    }
    p{
      margin-left: 5px;
      padding-top: 2%;
      font-size: 2em;
      text-align: justify;
      font-weight: bold;
    }
  }
  .gaceta {
    img {
      display: block;
      margin: auto;
      width: 5em;
      height: 2em;
    }
  }
  .tl {
    img {
      display: block;
      margin: auto;
      width: 4em;
      height: 4em;
    }
  }
  .certi {
    color: #ffb935;
    text-align: center;
    font-weight: bold;
    background: rgba(30, 63, 108, 0.75);
    font-size: 4em;
    p {
      margin: 20px;
    }
  }
  .cuota {
    background-color: #ffb935;
    h1 {
      color: #1e3f6c;
      font-size: 40px;
      max-width: 80%;
      text-align: center;
      margin: 20px auto auto auto;
      font-weight: bold;
    }
    table {
      font-weight: bold;
      color: #1e3f6c;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 35px;
      tr {
        &:nth-child(odd) {
          td {
            color: white;
          }
        }
      }
      td {
        width: 400px;
      }
    }
  }
}
/*----------------------------------------INSCRIPCIONES-------------------------------------*/
.inscripciones-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.65);
  background-size: cover;
  h1 {
    color: #2d3e54;
  }
  p {
    color: #2d3e54;
    margin: auto 20%;
    text-align: justify;
    a {
      color: #4b86ba;
    }
  }
  .cuota {
    background-color: #ffb935;
    h1 {
      color: #1e3f6c;
      font-size: 40px;
      max-width: 80%;
      text-align: center;
      margin: auto;
      margin-top: 20px;
      font-weight: bold;
    }
    table {
      font-weight: bold;
      color: #1e3f6c;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 35px;
      tr {
        &:nth-child(odd) {
          td {
            color: white;
          }
        }
      }
      td {
        width: 400px;
      }
    }
  }
}
/*----------------------------------------CIDT-------------------------------------*/
.CIDT-container {
  width: 75%;
  margin: 0px auto 0px auto;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.75);
  .logos {
    height: 180px;
    margin: 0 auto;
    .FD {
      max-width: 20%;
      img {
        height: 40%;
      }
    }
    .UBA {
      text-align: center;
      img {
        height: 20%;
      }
    }
    .EPJ {
      max-width: 20%;
      margin: 0 auto;
      img {
        height: 40%;
      }
    }
    &-ismovil {
      .FD {
        margin: 0 auto;
        img {
          height: 40px;
        }
      }
      .UBA {
        img {
          height: 32px;
        }
      }
      .EPJ {
        img {
          height: 50px;
          margin: 0;
        }
      }
    }
  }
  .text-cont {
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 3em;
      margin: 0;
      color: #62728a;
    }
    hr {
      width: 40%;
    }
    p {
      margin: auto 10%;
      color: #454846;
      line-height: 45px;
    }
    ul{

      li{
        color: #454846;
        list-style: none;
      }
      a{
        color: #62728a;
      }
    }
    Button {
      background-color: #ffb935;
      margin: 30px;
      color: #454846;
      border-radius: 15px;
      &:hover {
        background-color: #454846;
        color: #ffb935;
      }
    }
  }
  .certi {
    color: #ffb935;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background: rgba(30, 63, 108, 0.75);
    font-size: 4em;
    p {
      margin: 20px;
    }
  }
}
/*----------------------------------------PROGRAMA-------------------------------------*/
.list-container {
  background: url("/images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  .top-list {
    height: 8%;
    .title {
      h2 {
        margin: 0 auto;
        color: #ffb935;
        font-size: 30px;
        text-align: center;
        max-width: 70%;
        font-weight: bold;
      }
      h1 {
        color: white;
        font-size: 22px;
        width: 100%;
      }
    }
    h1 {
      font-size: 38px;
      text-align: center;
      color: #4b86ba;
      width: 20%;
      font-weight: bold;
      margin: 0 auto;
    }
    h2 {
      text-align: center;
      color: #ffb935;
      font-size: 28px;
    }
    tr {
      td {
        font-size: 18px;
        font-weight: bold;
        color: white;
        padding: 10px 20px;
      }
    }
  }
  .TwinButtons {
    text-align: center;
    Button {
      background-color: #ffb935;
      color: #1e3f6c;
      border-radius: 25px;
      font-size: 2em;
      font-weight: bold;
      height: auto;
      border: none;
      &:hover {
        background-color: #b1b1b1;
      }
    }
  }
  .event-list {
    p {
      text-align: center;
      color: white;
      font-size: 38px;
      margin: 0;
      span {
        color: #ffb935;
        font-size: 22px;
        padding-bottom: 15px;
      }
    }
    h3 {
      color: #ffb935;
      font-size: 40px;
      font-weight: bold;
    }
    h4 {
      font-size: 25px;
      font-weight: bold;
    }
    h5 {
      text-align: right;
      font-size: 30px;
      font-weight: bold;
    }
  }
  .cuota {
    background-color: #ffb935;
    h1 {
      color: #1e3f6c;
      font-size: 40px;
      max-width: 80%;
      text-align: center;
      margin: auto;
      margin-top: 20px;
      font-weight: bold;
    }
    table {
      font-weight: bold;
      color: #1e3f6c;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 35px;
      tr {
        &:nth-child(odd) {
          td {
            color: white;
          }
        }
      }
      td {
        width: 400px;
      }
    }
  }
  .footer-programa {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(85, 109, 145, 1) 100%
    );
    padding: 15px;
    h1 {
      padding: 30px 0 0 0;
      color: #ffb935;
      line-height: 25px;
    }
    Button {
      background: #ffb935;
      color: #1e3f6c;
    }
    p {
      color: white;
      font-size: 16px;
      a {
        color: white;
      }
    }
    .cidt-footer {
      margin-top: 50px;
      span {
        font-size: 38px;
        border: white solid 4px;
        letter-spacing: 15px;
        padding: 0 0 0 10px;
      }
    }
  }
}
/*----------------------------------------PONENTES-------------------------------------*/
.ponentes-container {
  Button {
    background: none;
    border: none;
  }
  .ponentes-presidencia {
    display: flex;
    justify-content: center;
    h1 {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: -10px;
    }
    hr {
      color: #1e3f6c;
      width: 200px;
      font-weight: bold;
    }
  }
  .ponentes-comite {
    h1 {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: -10px;
    }
    hr {
      color: #1e3f6c;
      width: 200px;
      font-weight: bold;
    }
  }
  .presi-styles {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #2020201c;
      cursor: pointer;
    }
    h2 {
      font-size: 16px;
      font-weight: bold;
      width: 80%;
      text-align: center;
    }
  }
  .confe-styles {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #2020201c;
      cursor: pointer;
    }
    Button {
      font-size: 16px;
      font-weight: bold;
      width: 80%;
      text-align: center;
    }
  }
  .cv-card {
    background-color: #1e3f6c;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    width: 80%;
    left: 15%;
    top: 200px;
    z-index: 9;
    h1,
    h2 {
      text-align: center;
    }
    p {
      margin: 12% 15% auto 15%;
    }
  }
}
@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .cidt {
    font-size: 0.45em;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 8px;
  }
  .cidt {
    font-size: 1.35em;
  }
  .texto-mapa {
    font-size: 0.75em;
  }
  .texto-calendario {
    font-size: 0.75em;
  }
}
